<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>General Shop - Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Cart</h1>
    </div>

    <div class="card-text">
        <a class="btn btn-info" href="/">Back</a>
    </div>

    <div class="card-text">
        <table>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
            <tr th:each="general: ${cartMap}">
                <td><img class="" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/product_' + ${#strings.substringAfter(general.key, '?')} + '.jpg'"
                         alt=""/></td>
                <td th:text="${#strings.substring(general.key, 0, #strings.indexOf(general.key, '?'))}"></td>
                <td>
                    <form action="/cart">
                        <button class="btn btn-danger" type="submit" name="remove" th:value="${general.key}">-</button>
                        <span th:text="${general.value}"></span>
                        <button class="btn btn-success" type="submit" name="add" th:value="${general.key}">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div th:replace="footer.html :: foot"></div>

</body>
</html>