body {
    background-image: url("/static/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flex-row-reverse {
    margin-right: 2%;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3em;
}

#search-container {
    display: inline-block;
}

#main-content, #search-container {
    top: 0;
    left: 0;
}

#main-content {
    padding: 20px;
}

#search-container {
    padding-left: 30px;
}

img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    padding: 0;
    margin: 0;
}

.img-container {
    text-align: center;
}

.jumbotron {
    height: 80px;
    padding: 15px;
    background-color: transparent;
}

#current-categ {
    text-align: center;
    width: 100%;
}

#current-categ-name {
    font-size: 24px;
    font-weight: bold;
}

#footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
    color: #ffffff;
}

button {
    border-radius: 7px;
}

.card {
    width: 300px;
    margin: 10px;
    font-family: 'Indie Flower', cursive;
}

.search-label {
    font-weight: bold;
}

.card-description {
    height: 180px;
}

.card-title {
    font-weight: bold;
}